/* Globals */
* { box-sizing: border-box; }
body { font-family: 'Roboto', Helvetica, sans-serif; background: url(http://images.clipartpanda.com/business-clipart-cliparti1_business-clip-art_02.jpg) repeat; }

/* Page Layout */
section { padding: 0 2em 2em; }

/* Post */
.day .title { position: relative; }
.day img { width: 100%; }
.day h2  {
  position: absolute;
  width: 80%;
  right: 0;
  bottom: 10%;
  background-color: rgba(0,0,0,0.2);
  color: white;
  text-shadow: 0 0 2px rgba(0,0,0,0.8);
  border: 1px solid white;
  border-width: 1px 0 1px 1px;
  padding: 0.2em;
}
.day .quotes  { background: white; }
.day blockquote { margin: 0; padding: 0.5em; }

@media only screen and (min-width: 769px) {
  .title { max-width: 800px; margin: 0 auto; display: block; }
  .quotes { display: table; width: 100%; max-width: 800px; margin: 0 auto; }
  .quotes blockquote { width: 50%; display: table-cell; }
  blockquote p:first-child { margin-top: 0; }
}
