/* Globals */
*    { box-sizing: border-box; }
body { font-family: 'Roboto', Helvetica, sans-serif; }
a    { cursor: pointer; }

/* Page Layout */
section {
  max-width: 622px;
  border-top: 1px solid #DBDBDC;
}

/* Posts Section */
section .chevrons { display: flex; justify-content: space-between; padding-top: 6px; }
section .chevron { width: 28px; height: 11px; cursor: pointer; background: url(/chevronUp.png) no-repeat; background-size: 100%; display: inline-block; }
section .chevron.down { background-image: url(/chevronDown.png); }

/* Post */
.day .title { position: relative; }
.day img { width: 100%; }
.day .quotes  { background: white; }
.day blockquote { margin: 0; padding: 0.5em; }

@media only screen and (min-width: 769px) {
  section { margin: 0 auto; }


  .hero      { position: fixed; bottom: 0; left: 0; width: 20%; }
  .hero.neil { left: auto; right: 0; }
}
